canvas{
  position: fixed;
  top:0;
  left: 0;
}
address{
  color: #000;
  background-color: #000;
  position: absolute;
  top: 05%;
  left: -5%;
  text-align: center;
  width: 110%;
}

main {
  width: 100 vw;
  color:white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
Link{
  background-color: aliceblue;
}
header{
  background:var(--dark-bg);
  grid-column: 2 span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}
h3{
  color:gold;
}
section{
  grid-column: 2/8;
  padding:1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote{
  margin: 0;
  padding: 0;
}

.light{
  /*background opacity 50% rounded*/
  background-color: rgba(0,0,0,0.5);
  /*rounded */
  border-radius: 20px;

}